{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="position_global">
        <h1>Login !</h1>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" id="username" type="email" placeholder= {% trans %} _loginConnexion {% endtrans %} name="_username">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder={% trans %} _passwordConnexion {% endtrans %} id="password" name="_password">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>

            <button class="button is-primary is-outlined" type="submit">
                login
            </button>
        </form>
    </div>
{% endblock %}