{% extends 'base.html.twig' %}

{% block body %}
    {% block hero %}
        {#
        <div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top">
            <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
                <h1 uk-parallax="opacity: 0,1,1; y: -100,0,0; x: 100,100,0; scale: 0.5,1,1; viewport: 0.5;" style="color: black">
                    Headline
                </h1>
                <p uk-parallax="opacity: 0,1,1; y: 100,0,0; x: -100,-100,0; scale: 2,1,1; viewport: 0.5;" style="color: black">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
        #}
    {% endblock %}
    {% block espace %}
    <div class="dashboard">
        <!--  section 1 - 2 cadre -->
        <div class="uk-text-center uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid>
            {# //////////////////////////////////// FCT Rendez-vous //////////////////////////////////////////////////// #}
            {% if user.fctRDV %}
            <div class="">
                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-card-media-left uk-cover-container">
                        <p>{% trans %} _dash_titre_rdv {% endtrans %}{#LISTE DES RENDEZ VOUS#}</p>
                        <table class="uk-table">
                            <thead>
                                <tr>
                                    <th>titre</th>
                                    <th>destinataire</th>
                                    <!--<th>Lieu</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                {% for rdv in rdvs %}
                                <tr>
                                    <td><a target="_blank" href="{{ path('detail_rdv', {rdv: rdv.rdv_id}) }}">{{ rdv.rdv_label }}</a></td>
                                    <td>{{ rdv.destinataire_label }}</td>
                                    <!--
                                    {% if rdv.destinataire_lieu is null or rdv.destinataire_lieu is empty %}
                                    <td>{{ rdv.rdv_lieu }}</td>
                                    {% else %}
                                    <td>{{ rdv.destinataire_lieu }}</td>
                                    {% endif %}
                                    -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">{% trans %} _dash_sousTitre_rdv {% endtrans %}</h3>
                            <p>{% trans %} _dash_description_rdv {% endtrans %}{#Vous avez des rendez aujourdhui ?#}</p>
                            
                            <div class="uk-card-footer">
                                <a href="{{ path('rdvs') }}" class="uk-button uk-button-text">{% trans %} _voir_plus {% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            
            {# //////////////////////////////////// FCT INTERETS //////////////////////////////////////////////////// #}
            {% if user.fctInteret %}
            <div class="">
                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-left uk-cover-container">
                    </div>
                    <div class="uk-card-media-left uk-cover-container">
                        <p>LISTE DES INTERETS</p>
                        <table class="uk-table">
                            <thead>
                                <tr>
                                    <th>label</th>
                                    <th>catégorie</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for interet in interets %}
                                <tr>
                                    
                                    {% if interet.url is not null %}
                                    <td><a target="_blank" href="{{ interet.url }}">{{ interet.label }}</a></td>
                                    {% else %}
                                    <td>{{ interet.label }}</td>
                                    {% endif %}
                                    <td>{{ interet.categorie.label }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Vos différents Interet</h3>
                            <p>Les différents interets mis de cotés, faites-y un petit tour,</p>
                            <p>INTERET LES PLUS VIEUX DEPECHE TOI</p>
                            <div class="uk-card-footer">
                                <a href="#" class="uk-button uk-button-text">{% trans %} _voir_plus {% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <!--  Fin section 1 - 2 cadre -->

        <!--  section 2 - 2 cadre -->
        <div class="uk-text-center uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid>
            {% if user.fctCourse %}
            {# //////////////////////////////////// Liste des courses a faire //////////////////////////////////////////////////// #}
            <div class="">
                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-card-media-left uk-cover-container">
                        <p>LISTE DE Course urgent</p>
                        {#
                        <table class="uk-table">
                            <thead>
                                <tr>
                                    <th>Table Heading</th>
                                    <th>Table Heading</th>
                                    <th>Table Heading</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                            </tbody>
                        </table>
                        #}
                        EN COURS DE DEV
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Vos course a faire procainement </h3>
                            <p>Ton frigo est vide frerot, rempli le</p>
                            
                            <div class="uk-card-footer">
                                <a href="#" class="uk-button uk-button-text">{% trans %} _voir_plus {% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if user.fctCadeau %}
            {# //////////////////////////////////// Tableaux et recap des cadeaux //////////////////////////////////////////////////// #}
            <div class="">
                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-left uk-cover-container">
                    </div>
                    <div class="uk-card-media-left uk-cover-container">
                        <p>LISTE DES Cadeaux</p>
                        {#
                        <table class="uk-table">
                            <thead>
                                <tr>
                                    <th>Table Heading</th>
                                    <th>Table Heading</th>
                                    <th>Table Heading</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                            </tbody>
                        </table>
                        #}
                        EN COURS DE DEV
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Les cadeaux faits</h3>
                            <p>Les cadeaux que vous avez effectué</p>
                            <p>CADEAUX FAITS</p>
                            <div class="uk-card-footer">
                                <a href="#" class="uk-button uk-button-text">{% trans %} _voir_plus {% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <!--  Fin section 2 - 2 cadre -->

        <!--  section 3 - 2 cadre -->
        <div class="uk-text-center uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid>
            {% if user.fctConnaissance %}
            {# //////////////////////////////////// Recap du savoir emmagasiné depuis x-temps //////////////////////////////////////////////////// #}
            <div class="">
                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-card-media-left uk-cover-container">
                        <p>Connaissance </p>
                        <table class="uk-table">
                            <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Categorie</th>
                                    <th>Table Heading</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Toutes vos connaissances</h3>
                            <p>Connaissances</p>
                            
                            <div class="uk-card-footer">
                                <a href="#" class="uk-button uk-button-text">{% trans %} _voir_plus {% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if user.fctAppartement %}
            {# //////////////////////////////////// Toutes les choses a savoir sur l'habitation que vous gérez (administratif) //////////////////////////////////////////////////// #}
            <div class="">
                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-left uk-cover-container">
                    </div>
                    <div class="uk-card-media-left uk-cover-container">
                        <p>Appartement</p>
                        <table class="uk-table">
                            <thead>
                                <tr>
                                    <th>Table Heading</th>
                                    <th>Table Heading</th>
                                    <th>Table Heading</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Gestion de l'appartement</h3>
                            <p>Gérer votre habitat</p>
                            <p>Gestion de votre habitat</p>
                            <div class="uk-card-footer">
                                <a href="#" class="uk-button uk-button-text">{% trans %} _voir_plus {% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}
{% endblock %}
