{% extends 'base.html.twig' %}

{% block body %}
<div>
    {{form(form)}}
</div>

<table class="uk-table uk-table-justify uk-table-divider">
    <thead>
        <tr>
            <th class="uk-width-small">Fonctionnalite</th>
            <th>Etat</th>
            <th>Accés</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Interet</td>
            {% if user.fctInteret %}
                <td>
                    <a href="{{ path("mon-profil-fct-desactive", {"data": 1}) }}" style="padding: 0.2rem;background-color: green;color: white;">
                        <span uk-icon="check"></span>
                    </a>
                </td>  
                <td>Accés activé</td>  
            {% else %}
                <td>
                    <a href="{{ path("mon-profil-fct-active", {"data": 1}) }}" style="padding: 0.2rem;background-color: red;color: white;">
                        <span uk-icon="close"></span>
                    </a>
                </td> 
                <td>Accés désactivé</td>  
            {% endif %} 
            
        </tr>
        <tr>
            <td>Course</td>
            {% if user.fctCourse %}
                <td>
                    <a href="{{ path("mon-profil-fct-desactive", {"data": 2}) }}" style="padding: 0.2rem;background-color: green;color: white;">
                        <span uk-icon="check"></span>
                    </a>
                </td> 
                <td>Accés activé</td>
            {% else %}
                <td>
                    <a href="{{ path("mon-profil-fct-active", {"data": 2}) }}" style="padding: 0.2rem;background-color: red;color: white;">
                        <span uk-icon="close"></span>
                    </a>
                </td> 
                <td>Accés désactivé</td>  
            {% endif %}
        </tr>
        <tr>
            <td>Cadeau</td>
            {% if user.fctCadeau %}
                <td>
                    <a href="{{ path("mon-profil-fct-desactive", {"data": 3}) }}" style="padding: 0.2rem;background-color: green;color: white;">
                        <span uk-icon="check"></span>
                    </a>
                </td> 
                <td>Accés activé</td> 
            {% else %}
                <td>
                    <a href="{{ path("mon-profil-fct-active", {"data": 3}) }}" style="padding: 0.2rem;background-color: red;color: white;">
                        <span uk-icon="close"></span>
                    </a>
                </td> 
                <td>Accés désactivé</td>  
            {% endif %}
        </tr>
        <tr>
            <td>Connaissance</td>
            {% if user.fctConnaissance %}
                <td>
                    <a href="{{ path("mon-profil-fct-desactive", {"data": 4}) }}" style="padding: 0.2rem;background-color: green;color: white;">
                        <span uk-icon="check"></span>
                    </a>
                </td>  
                <td>Accés activé</td>
            {% else %}
                <td>
                    <a href="{{ path("mon-profil-fct-active", {"data": 4}) }}" style="padding: 0.2rem;background-color: red;color: white;">
                        <span uk-icon="close"></span>
                    </a>
                </td>
                <td>Accés désactivé</td>   
            {% endif %}
        </tr>
        <tr>
            <td>Appartement</td>
            {% if user.fctAppartement %}
                <td>
                    <a href="{{ path("mon-profil-fct-desactive", {"data": 5}) }}" style="padding: 0.2rem;background-color: green;color: white;" style="padding: 0.2rem;background-color: red;color: white;">
                        <span uk-icon="check"></span>
                    </a>
                </td> 
                <td>Accés activé</td>
            {% else %}
                <td>
                    <a href="{{ path("mon-profil-fct-active", {"data": 5}) }}" style="padding: 0.2rem;background-color: red;color: white;">
                        <span uk-icon="close"></span>
                    </a>
                </td> 
                <td>Accés désactivé</td>  
            {% endif %}
        </tr>
        <tr>
            <td>RDV</td>
            {% if user.fctRDV %}
                <td>
                    <a href="{{ path("mon-profil-fct-desactive", {"data": 6}) }}" style="padding: 0.2rem;background-color: green;color: white;">
                        <span uk-icon="check"></span>
                    </a>
                </td> 
                <td>Accés activé</td>
            {% else %}
                <td>
                    <a href="{{ path("mon-profil-fct-active", {"data": 6}) }}" style="padding: 0.2rem;background-color: red;color: white;">
                        <span uk-icon="close"></span>
                    </a>
                </td> 
                <td>Accés désactivé</td>  
            {% endif %}
        </tr>
    </tbody>
</table>
{% endblock %}