{% extends "base.html.twig" %}

{% block body %}
<div class="position_global">
    {% if commands %}
        <h2 class="has-text-centered title-position">
            MES COMMANDES
        </h2>
            <div>
                <table class="table is-fullwidth is-hoverable">
                    <thead>
                    <tr>
                        <th>
                            <abbr title="Identifier">
                                ID
                            </abbr>
                        </th>
                        <th>
                            Label
                        </th>
                        <th>
                            <abbr title="Price">
                                Montant
                            </abbr>
                        </th>
                        <th>
                            <abbr title="nombre">
                                NB Article
                            </abbr>
                        </th>
                        <th>
                            <abbr title="date">
                                Date De la commande
                            </abbr>
                        </th>
                        <th>
                            <abbr title="Action">
                                Actions
                            </abbr>
                        </th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th><abbr title="identifier">ID</abbr></th>
                        <th>Label</th>
                        <th><abbr title="Price">Montant</abbr></th>
                        <th><abbr title="nombre">Nb Article</abbr></th>
                        <th><abbr title="date">Date de la commande</abbr></th>
                        <th><abbr title="Action">Actions</abbr></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for command in commands %}
                        <tr>
                            <th>{{ command.id }}</th>
                            <td>
                                {{ command.status.label }}
                            </td>
                            <td>
                                {{ command.mount }}
                            </td>
                            <td>
                                {{ command.products|length }}
                            </td>
                            <td>
                                {{ command.created|date("d/m/Y") }}
                            </td>
                            <td>
                                <a href="" class="button is-primary is-outlined">Visualisation commandes</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    {% else %}
        <div class="separation-base">
            <span class="tag is-light is-warning font-size">
                Vous avez aucune commandes !!
            </span>
        </div>
    {% endif %}
</div>
{% endblock %}