{% extends "Security/Admin/admin_homepage.html.twig" %}

{% block admin_body %}
    <div class="column is-two-thirds">
        {{ form_start(form) }}
        <div class="field">
            <div class="columns is-vcentered">
                <div class=" column is-half field">
                    <div class="control has-icons-left">
                        {{ form_widget(form.label, { 'attr': {'class': 'input'} }) }}
                        <span class="icon is-small is-left">
                                <i class="fas fa-tag"></i>
                            </span>
                        <div class="help">This is a imput Text</div>
                    </div>
                </div>
                <div class="column field is-half">
                    <div class="control has-icons-left">
                        {{ form_widget(form.description, { 'attr': {'class': 'input'} }) }}
                        <span class="icon is-small is-left">
                                <i class="fas fa-tag"></i>
                            </span>
                        <div class="help">This is a input Textarea</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    {{ form_widget(form.submit, { 'attr': {'class': 'button is-link'} }) }}
                </p>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}