{% extends "Security/Admin/admin_homepage.html.twig" %}

{% block admin_body %}
    <div class="">
        {% if objects is not null and objects is defined and objects|length > 0 %}
            <table class="table is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>
                        <abbr title="Identifier">
                            Identifiant
                        </abbr>
                    </th>
                    <th>
                        Label
                    </th>
                    <th>
                        <abbr title="Description">
                            Description
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Date">
                            Date de création
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Actions">
                            Actions
                        </abbr>
                    </th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th><abbr title="number">Identifiant</abbr></th>
                    <th>Label</th>
                    <th><abbr title="Price">Description</abbr></th>
                    <th><abbr title="Date">Date de création</abbr></th>
                    <th><abbr title="Actions">Actions</abbr></th>
                </tr>
                </tfoot>
                <tbody>
                {% for object in objects %}
                    {% if object.archieved == 0  %}
                        <tr>
                            <th>{{ object.id }}</th>
                            <td>
                                {{ object.label }}
                            </td>
                            {% if object.description %}
                                <td>
                                    {{ object.description }}
                                </td>
                            {% else %}
                                <td>
                                    Aucune description
                                </td>
                            {% endif %}
                            <td>
                                {{ object.created|date("m/d/Y") }}
                            </td>
                            <td>
                                <a href="{{ path("edit_status", {"object":object.id}) }}" class="button is-info is-outlined">
                                    Edition
                                </a>
                                <a href="{{ path("archieveOrDelete_status", {"object": object.id}) }}" class="button is-link is-outlined">
                                    Archivage
                                </a>
                            </td>

                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div>
                <a href="{{ path("add_status") }}" class="button is-primary is-outlined">
                    Ajouter Status
                </a>
            </div>
            <table class="table is-centered">
                <thead>
                <tr>
                    <th>
                        <abbr title="Identifier">
                            ID
                        </abbr>
                    </th>
                    <th>
                        Label
                    </th>
                    <th>
                        <abbr title="Description">
                            Description
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Description">
                            Date de création
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Description">
                            Actions
                        </abbr>
                    </th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th><abbr title="identifier">Identifier</abbr></th>
                    <th>Label</th>
                    <th><abbr title="Price">Description</abbr></th>
                    <th><abbr title="Price">Date de création</abbr></th>
                    <th><abbr title="Price">Actions</abbr></th>
                </tr>
                </tfoot>
                <tbody>
                {% for object in objects %}
                    {% if object.archieved == 1 %}
                        <tr>
                            <th>{{ object.id }}</th>
                            <td>
                                {{ object.label }}
                            </td>
                            <td>
                                {{ object.description }}
                            </td>
                            <td>
                                {{ object.created|date("m/d/Y") }}
                            </td>
                            <td>
                                <a href="{{ path("unarchieved_status", {"object": object.id}) }}" class="button is-info is-outlined">
                                    Désarchiver
                                </a>
                                <a href="{{ path("archieveOrDelete_status", {"object": object.id}) }}" class="button is-danger is-outlined">
                                    Suppression
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="separation-base">
                <span class="tag is-light is-warning font-size">
                    existe aucun status
                </span>
            </div>
        {% endif %}

        <div>
            <a href="{{ path("add_status") }}" class="button is-primary is-outlined">
                Ajouter Status
            </a>
        </div>
    </div>
{% endblock %}