{% extends 'base.html.twig' %}

{% block body %}
<div class="cols">
	{% if user is defined %}
		{% if user.fctInteret %}
		<div class="col" ontouchstart="this.classList.toggle('hover');">
			<div class="container">
				<div class="front" style="background-image: url(https://unsplash.it/500/500/)">
					<div class="inner">
						<p>Interet</p>
						<span>Liste des interet</span>
					</div>
				</div>
				<div class="back">
					<div class="inner">
						<p>Les interets sont des urls de site qui peuvent etre garder et vu plus tard.</p>
					</div>
				</div>
			</div>
		</div>
		{% endif %}

		{% if user.fctCadeau %}
		
		<div class="col" ontouchstart="this.classList.toggle('hover');">
			<div class="container">
				<div class="front" style="url(https://unsplash.it/511/511/)">
					<div class="inner">
						<p>Les cadeaux</p>
						<span>Liste des cadeaux</span>
					</div>
				</div>
				<div class="back">
					<div class="inner">
						<p>Liste des cadeaux fait pour des evenements</p>
					</div>
				</div>
			</div>
		</div>
		{% endif %}

		{% if user.fctCourse %}
		<div class="col" ontouchstart="this.classList.toggle('hover');">
			<div class="container">
				<div class="front" style="background-image: url(https://unsplash.it/502/502/)">
					<div class="inner">
						<p>Les courses</p>
						<span>Gestion des courses</span>
					</div>
				</div>
				<div class="back">
					<div class="inner">
						<p>Mes courses a faire prochainement et gestion du frigo</p>
					</div>
				</div>
			</div>
		</div>
		{% endif %}

		{% if user.fctConnaissance %}
		<div class="col" ontouchstart="this.classList.toggle('hover');">
			<div class="container">
				<div class="front" style="background-image: url(https://unsplash.it/503/503/)">
					<div class="inner">
						<p>Connaisance</p>
						<span>Mes connaissances et tutoriels</span>
					</div>
				</div>
				<div class="back">
					<div class="inner">
						<p>Connaissances acquises dans le temps</p>
					</div>
				</div>
			</div>
		</div>
		{% endif %}

		{% if user.fctAppartement %}
		<div class="col" ontouchstart="this.classList.toggle('hover');">
			<div class="container">
				<div class="front" style="background-image: url(https://unsplash.it/504/504/">
					<div class="inner">
						<p>Appartement</p>
						<span>Gestion de l'appartement</span>
					</div>
				</div>
				<div class="back">
					<div class="inner">
						<p>Gestion de l'appartement autant administratif que financierement que chose preter.</p>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	{% endif %}
</div>
{% endblock %}