.search-box {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #ebebeb;
}
.search-box + label .search-icon {
  color: black;
}
.search-box:hover {
  color: white;
  background: #c8c8c8;
  box-shadow: 0 0 0 5px #3d4752;
}
.search-box:hover + label .search-icon {
  color: white;
}
.search-box:focus {
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 20rem;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}
.search-box:focus + label .search-icon {
  color: black;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
}

#diapo {
  position: relative;
  height: 30em;
  margin: auto;
  text-align: center;
  margin: 2em 2em;
}

#diapo div {
  display: inline-block;
}

#diapo > * + * {
  margin-left: 5px;
}

.big_image {
  position: absolute;
  display: block;
  width: 600px;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  border: 10px solid #FFF;
  box-shadow: 0 2px 8px 2px #666;
  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -ms-transform: scale(0.25);
  -o-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.r_check, .on_check {
  cursor: pointer;
}

.r_check:checked ~ label img {
  opacity: 0.25;
  border: 2px solid #006699;
}

.r_check:checked ~ .big_image {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.r_check {
  /*  display:none;/* si masquer pas acces avec touche */
  opacity: 0;
  position: absolute;
}

label img.vignette {
  width: 100px;
  height: 75px;
  border: 2px solid #FFF;
}

.retour {
  color: #909090;
  font-size: 1em;
  left: 1em;
  bottom: 1em;
  position: fixed;
  text-decoration: none;
  font-style: italic;
  text-shadow: 1px 1px 0px #FFF;
}

.retour:hover {
  font-style: normal;
  color: #706040;
}

#diapo {
  position: relative;
  height: 30em;
  margin: auto;
  text-align: center;
  margin: 2em 2em;
}

#diapo div {
  display: inline-block;
}

#diapo > * + * {
  margin-left: 5px;
}

.big_image {
  position: absolute;
  display: block;
  width: 600px;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  border: 10px solid #FFF;
  box-shadow: 0 2px 8px 2px #666;
  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -ms-transform: scale(0.25);
  -o-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.r_check, .on_check {
  cursor: pointer;
}

.r_check:checked ~ label img {
  opacity: 0.25;
  border: 2px solid #006699;
}

.r_check:checked ~ .big_image {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.r_check {
  /*  display:none;/* si masquer pas acces avec touche */
  opacity: 0;
  position: absolute;
}

label img.vignette {
  width: 100px;
  height: 75px;
  border: 2px solid #FFF;
}

.retour {
  color: #909090;
  font-size: 1em;
  left: 1em;
  bottom: 1em;
  position: fixed;
  text-decoration: none;
  font-style: italic;
  text-shadow: 1px 1px 0px #FFF;
}

.retour:hover {
  font-style: normal;
  color: #706040;
}

.footer-global {
  background-color: #ebe9ed;
}

.footer-titre-ecriture {
  color: black;
  font-weight: bold;
  font-size: larger;
}

/* Position global */
/* hero-body */
/* menu-admin */
/* menu-admin */
/* hero */
/* circle.multiline */
/* circle */
/* space-admin-bull */
/* admin-home */
/* admin-bull-group */
/* interligne */
/* separation basique */
/* taille XS */
@media screen and (max-width: 768px) {
  .position_global {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .hero-body {
    padding: 5rem 1.5rem;
  }

  .menu-admin {
    padding-right: 1rem;
    padding-left: 0;
  }

  .detail_product_title {
    text-align: center;
    margin: 4rem;
    font-weight: bold;
    font-size: xx-large;
  }

  .footer_titre_rubrique {
    margin: 2rem;
    font-size: medium;
  }

  .footer_rubrique {
    margin: 2rem;
    font-size: medium;
  }
}
/* taille M */
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .position_global {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .hero-body {
    padding: 3rem 1.5rem;
  }

  .menu-admin {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .detail_product_title {
    text-align: center;
    margin: 4rem;
    font-weight: bold;
    font-size: xx-large;
  }

  .footer_titre_rubrique {
    margin: 2rem;
    font-size: medium;
  }

  .footer_rubrique {
    margin: 2rem;
    font-size: medium;
  }
}
/* taille L */
@media screen and (min-width: 1024px) and (max-width: 1215px) {
  .position_global {
    margin-left: 3rem;
    margin-right: 5rem;
  }

  .hero-body {
    padding: 5rem 1.5rem;
  }

  .menu-admin {
    padding-right: 2rem;
    padding-left: 3rem;
  }

  .detail_product_title {
    text-align: center;
    margin: 4rem;
    font-weight: bold;
    font-size: xx-large;
  }

  .footer_titre_rubrique {
    margin: 2rem;
    font-size: medium;
  }

  .footer_rubrique {
    margin: 2rem;
    font-size: medium;
  }
}
@media screen and (min-width: 1216px) and (max-width: 1407px) {
  .position_global {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .hero-body {
    padding: 6rem 1.5rem;
  }

  .menu-admin {
    padding-right: 2rem;
    padding-left: 5rem;
  }

  .detail_product_title {
    text-align: center;
    margin: 4rem;
    font-weight: bold;
    font-size: xx-large;
  }

  .footer_titre_rubrique {
    margin: 2rem;
    font-size: medium;
  }

  .footer_rubrique {
    margin: 2rem;
    font-size: medium;
  }
}
@media screen and (min-width: 1408px) {
  .position_global {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .hero-body {
    padding: 6rem 1.5rem;
  }

  .menu-admin {
    padding-right: 2rem;
    padding-left: 5rem;
  }

  .detail_product_title {
    margin: 2rem;
    font-weight: bold;
    font-size: xx-large;
  }

  .detail_product_description {
    margin: 2rem 1rem 0 2rem;
    font-size: larger;
  }

  .detail_product_price {
    color: tomato;
    font-size: 2rem;
    margin: 0 1rem 1rem 2rem;
  }

  .detail_product_category {
    margin: 0 1rem 1rem 2rem;
  }

  .footer_titre_rubrique {
    margin: 0;
    font-size: medium;
    line-height: 0;
  }

  .footer_rubrique {
    margin: 2rem;
    font-size: medium;
    line-height: 0;
  }
}
.hero {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.position_global {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.circle.multi-line {
  line-height: 15px;
  height: 10rem;
  padding-top: 4rem;
  /* 70 + 30 = 100 */
}

.circle {
  border-radius: 50%;
  width: 10rem;
  border: 1px solid #000000;
  text-align: center;
}

.space-admin-bull {
  padding-top: 1rem;
}

.admin-home {
  margin: 5rem;
}

.admin-bull-group {
  margin: 4rem;
}

.interligne {
  margin: 2rem;
}

input {
  font-family: "Oswald", sans-serif;
}

.uploader {
  cursor: pointer !important;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.chooseFile {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  padding-left: 200px;
  margin-right: -200px;
}

#thumbnail {
  width: 25%;
  margin-top: 10px;
  cursor: pointer;
  height: auto;
}

.separation-base {
  margin: 1rem;
}

.bold {
  font-weight: bold;
}

.dashboard {
  padding: 3rem;
  margin: 3rem;
}

/*# sourceMappingURL=style.css.map */
