{% extends 'base.html.twig' %}

{% block espace %}

    <div class="position_global">
    <div class="content">

        {{ form_start(form) }}
        <div class="field">
            <div class="columns is-vcentered">
                <div class=" column is-half control has-icons-left has-icons-right">
                    <div class="help">{% trans %} _mail {% endtrans %}</div>
                    {{ form_widget(form.email, { 'attr': {'class': 'input'} }) }}
                    <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    
                </div>
                <div class="column field is-half">
                    <div class="control has-icons-left">
                        <div class="help">{% trans %} _username {% endtrans %}</div>
                        {{ form_widget(form.username, { 'attr': {'class': 'input'} }) }}
                        <span class="icon is-small is-left">
                                <i class="far fa-user"></i>
                            </span>
                        
                    </div>
                </div>
            </div>
            <div>
                <div class="columns is-vcentered">
                    <div class="column is-half field">
                        <div class="control has-icons-left">
                            <div class="help">{% trans %} _firstname {% endtrans %}</div>
                            {{ form_widget(form.firstname, { 'attr': {'class': 'input'} }) }}
                            <span class="icon is-small is-left">
                                    <i class="far fa-user"></i>
                                </span>
                            
                        </div>
                    </div>
                    <div class="column is-half field">
                        <div class="control has-icons-left">
                            <div class="help">{% trans %} _lastname {% endtrans %}</div>
                            {{ form_widget(form.lastname, { 'attr': {'class': 'input'} }) }}
                            <span class="icon is-small is-left">
                                    <i class="far fa-user"></i>
                                </span>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="columns is-vcentered">
                    <div class="column is-half field">
                        <div class="control has-icons-left">
                            <div class="help">{% trans %}_password{% endtrans %}</div>
                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'input'} }) }}
                            <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            
                        </div>
                    </div>
                    <div class="column is-half field">
                        <div class="control has-icons-left">
                            <div class="help">{% trans %}_repeatPWD{% endtrans %}</div>
                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'input'} }) }}
                            <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    {{ form_widget(form.submit, { 'attr': {'class': 'button is-link'} })}}
                </p>
            </div>
            {{ form_end(form) }}
            
        </div>
        {#
        <div>

            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}

            <button type="submit">Register!</button>
            {{ form_end(form) }}
        </div>

        <div>
            mdp test : tructructruc
        </div>

        <div>
            email test : jz@je.je
        </div>
        #}
    </div>
{% endblock %}