{% extends 'base.html.twig' %}

{% block body %}
<div class="dashboard">
    <div>
        <h1>
            {{ title }}
        </h1>
    </div>
    
    <div>
        <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Ajouter un processus</button>
    </div>

    <div>
    <div class="">
        <table class="uk-table">
            <thead>
                <tr>
                    <th>Label</th>
                </tr>
            </thead>
            <tbody>
            {% for processus in procs %}
            <tr>
                <td><a href="{{ path('processus', { processus : processus.id }) }}">{{ processus.titre }}</a></td>
                <th><button class="uk-button uk-button-danger">Danger</button></th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>
{% endblock %}