{% extends 'base.html.twig' %}

{% block body %}
<div class="dashboard">
    <div>
        <h1>
            {{ processus.titre }}
        </h1>
    </div>
    <div>
    </div>
    
</div>
{% endblock %}