{% extends "Security/Admin/admin_homepage.html.twig" %}

{% block admin_body %}
    <div class="">
        {% if categories is not null and categories is defined %}
            <table class="table is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>
                        <abbr title="Identifier">
                            Identifier
                        </abbr>
                    </th>
                    <th>
                        Label
                    </th>
                    <th>
                        <abbr title="Description">
                            Description
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Date">
                            Date de création
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Actions">
                            Actions
                        </abbr>
                    </th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th><abbr title="number">Identifiant</abbr></th>
                    <th>Label</th>
                    <th><abbr title="Price">Price</abbr></th>
                    <th><abbr title="Date">Date de création</abbr></th>
                    <th><abbr title="Actions">Actions</abbr></th>
                </tr>
                </tfoot>
                <tbody>
                {% for category in categories %}
                    {% if category.archieved == 0  %}
                        <tr>
                            <th>{{ category.id }}</th>
                            <td>
                                {{ category.name }}
                            </td>
                            <td>
                                {{ category.description }}
                            </td>
                            <td>
                                {{ category.created|date("m/d/Y") }}
                            </td>
                            <td>
                                <a href="{{ path("edit_category", {"category":category.id}) }}" class="button is-info is-outlined">
                                    Edition
                                </a>
                                <a href="{{ path("archieveOrDelete_category", {"category": category.id}) }}" class="button is-link is-outlined">
                                    Archivage
                                </a>
                            </td>

                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div>
                <a href="{{ path("add_category") }}" class="button is-primary is-outlined">
                    Ajouter Category
                </a>
            </div>
            <table class="table is-centered">
                <thead>
                <tr>
                    <th>
                        <abbr title="Identifier">
                            ID
                        </abbr>
                    </th>
                    <th>
                        Label
                    </th>
                    <th>
                        <abbr title="Description">
                            Description
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Description">
                            Date de création
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Description">
                            Actions
                        </abbr>
                    </th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th><abbr title="identifier">Identifier</abbr></th>
                    <th>Label</th>
                    <th><abbr title="Price">Price</abbr></th>
                    <th><abbr title="Price">Date de création</abbr></th>
                    <th><abbr title="Price">Actions</abbr></th>
                </tr>
                </tfoot>
                <tbody>
                {% for category in categories %}
                    {% if category.archieved == 1 %}
                    <tr>
                        <th>{{ category.id }}</th>
                        <td>
                            {{ category.name }}
                        </td>
                        <td>
                            {{ category.description }}
                        </td>
                        <td>
                            {{ category.created|date("m/d/Y") }}
                        </td>
                        <td>
                            <a href="{{ path("unarchieved_category", {"category":category.id}) }}" class="button is-info is-outlined">
                                Désarchiver
                            </a>
                            <a href="{{ path("archieveOrDelete_category", {"category": category.id}) }}" class="button is-danger is-outlined">
                                Suppression
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="separation-base">
                <span class="tag is-light is-warning font-size">
                    existe aucune catégorie
                </span>
            </div>
        {% endif %}

        <div>
            <a href="{{ path("add_category") }}" class="button is-primary is-outlined">
                Ajouter Category
            </a>
        </div>
    </div>
{% endblock %}