{% extends "Security/Admin/admin_homepage.html.twig" %}

{% block admin_body %}
<div class="column is-two-thirds">
    {{ form_start(form) }}
        {{ form_row(form.images) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}



    <section class="hero is-light">
        <div id="number"></div>

        <div id="preview" class="preview"></div>
    </section>
</div>
    <script src="{{ asset('assets/js/Document/preview.js') }}"></script>
{% endblock %}