$margin-interligne: 2rem;

/* Position global */
$margin-global-xs: 0 3rem 0 3rem;
$margin-global-m: 0 0 0 0;
$margin-global-l: 0 0 0 0;
$margin-global-xl: 0 0 0 0;
$margin-global-full: 0 0 0 0;
$margin-global-base: 0 0 0 0;

/* hero-body */
$padding-hero-body-xs: 0 0 0 0;
$padding-hero-body-m: 0 0 0 0;
$padding-hero-body-l: 0 0 0 0;
$padding-hero-body-xl: 0 0 0 0;
$padding-hero-body-full: 0 0 0 0;

/* menu-admin */
$padding-menu-admin-xs: 0 0 0 0;
$padding-menu-admin-m: 0 0 0 0;
$padding-menu-admin-l: 0 0 0 0;
$padding-menu-admin-xl: 0 0 0 0;
$padding-menu-admin-full: 0 0 0 0;

/* menu-admin */
$padding-menu-admin-xs: 0 0 0 0;
$padding-menu-admin-m: 0 0 0 0;
$padding-menu-admin-l: 0 0 0 0;
$padding-menu-admin-xl: 0 0 0 0;
$padding-menu-admin-full: 0 0 0 0;

/* hero */
$margin-global-xs: 0 3rem 0 3rem;
$margin-global-m: 0 0 0 0;
$margin-global-l: 0 0 0 0;
$margin-global-xl: 0 0 0 0;
$margin-global-full: 0 0 0 0;
$margin-global-base: 0 0 0 0;

/* circle.multiline */
$height-xs: 0rem;
$height-m: 0rem;
$height-l: 0rem;
$height-xl: 0rem;
$height-full: 0rem;

$line-multiline-height-xs: 0rem;
$line-multiline-height-m: 0rem;
$line-multiline-height-l: 0rem;
$line-multiline-height-xl: 0rem;
$line-multiline-height-full: 0rem;

$padding-multiline-xs: 0rem;
$padding-multiline-m: 0rem;
$padding-multiline-l: 0rem;
$padding-multiline-xl: 0rem;
$padding-multiline-full: 0rem;

/* circle */
$border-circle-xs: 0 0 0 0;
$border-circle-m: 0 0 0 0;
$border-circle-l: 0 0 0 0;
$border-circle-xl: 0 0 0 0;
$border-circle-full: 0 0 0 0;

$border-radius-circle-xs: 0 0 0 0;
$border-radius-circle-m: 0 0 0 0;
$border-radius-circle-l: 0 0 0 0;
$border-radius-circle-xl: 0 0 0 0;
$border-radius-circle-full: 0 0 0 0;

$width-circle-xs: 0 0 0 0;
$width-circle-m: 0 0 0 0;
$width-circle-l: 0 0 0 0;
$width-circle-xl: 0 0 0 0;
$width-circle-full: 0 0 0 0;
$text-align: center;

/* space-admin-bull */
$padding-space-admin-bull-xs: 0 0 0 0rem;
$padding-space-admin-bull-m: 0 0 0 0rem;
$padding-space-admin-bull-l: 0 0 0 0rem;
$padding-space-admin-bull-xl: 0 0 0 0rem;
$padding-space-admin-bull-full: 0 0 0 0rem;

/* admin-home */
$margin-admin-home-xs: 0 3rem 0 3rem;
$margin-admin-home-m: 0 0 0 0;
$margin-admin-home-l: 0 0 0 0;
$margin-admin-home-xl: 0 0 0 0;
$margin-admin-home-full: 0 0 0 0;
$margin-admin-home-base: 0 0 0 0;

/* admin-bull-group */
$margin-admin-bull-group-xs: 0 3rem 0 3rem;
$margin-admin-bull-group-m: 0 0 0 0;
$margin-admin-bull-group-l: 0 0 0 0;
$margin-admin-bull-group-xl: 0 0 0 0;
$margin-admin-bull-group-full: 0 0 0 0;
$margin-admin-bull-group-base: 0 0 0 0;

/* interligne */
$margin-interligne-xs: 0 3rem 0 3rem;
$margin-interligne-m: 0 0 0 0;
$margin-interligne-l: 0 0 0 0;
$margin-interligne-xl: 0 0 0 0;
$margin-interligne-full: 0 0 0 0;
$margin-interligne-base: 0 0 0 0;

/* separation basique */
$margin-base: 1rem;


/* taille XS */
@media screen and (max-width: 768px) {
  .position_global {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .hero-body{
    padding: 5rem 1.5rem
  }

  .menu-admin{
    padding-right: 1rem;
    padding-left: 0;
  }

  .detail_product_title{
    text-align: center;
    margin: 4rem;
    font-weight: bold;
    font-size: xx-large;
  }

  .footer_titre_rubrique{
    margin: 2rem;
    font-size: medium;
  }

  .footer_rubrique{
    margin: 2rem;
    font-size: medium;
  }

}

/* taille M */
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .position_global {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .hero-body{
    padding: 3rem 1.5rem
  }

  .menu-admin{
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .detail_product_title{
    text-align: center;
    margin: 4rem;
    font-weight: bold;
    font-size: xx-large;
  }

  .footer_titre_rubrique{
    margin: 2rem;
    font-size: medium;
  }

  .footer_rubrique{
    margin: 2rem;
    font-size: medium;
  }
}

/* taille L */
@media screen and (min-width: 1024px) and (max-width: 1215px) {
  .position_global {
    margin-left: 3rem;
    margin-right: 5rem;
  }

  .hero-body{
    padding: 5rem 1.5rem
  }

  .menu-admin{
    padding-right: 2rem;
    padding-left: 3rem;
  }

  .detail_product_title{
    text-align: center;
    margin: 4rem;
    font-weight: bold;
    font-size: xx-large;
  }

  .footer_titre_rubrique{
    margin: 2rem;
    font-size: medium;
  }

  .footer_rubrique{
    margin: 2rem;
    font-size: medium;
  }
}

@media screen and (min-width: 1216px) and (max-width: 1407px) {
  .position_global {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .hero-body{
    padding: 6rem 1.5rem
  }

  .menu-admin{
    padding-right: 2rem;
    padding-left: 5rem;
  }

  .detail_product_title{
    text-align: center;
    margin: 4rem;
    font-weight: bold;
    font-size: xx-large;
  }

  .footer_titre_rubrique{
    margin: 2rem;
    font-size: medium;
  }

  .footer_rubrique{
    margin: 2rem;
    font-size: medium;
  }
}

@media screen and (min-width: 1408px) {
  .position_global {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .hero-body{
    padding: 6rem 1.5rem
  }

  .menu-admin{
    padding-right: 2rem;
    padding-left: 5rem;
  }

  .detail_product_title{
    //text-align: center;
    margin: 2rem;
    font-weight: bold;
    font-size: xx-large;
  }

  .detail_product_description{
    margin: 2rem 1rem 0 2rem;
    font-size: larger;
  }

  .detail_product_price{
    //text-align: center;
    color: tomato;
    font-size: 2rem;
    margin : 0 1rem 1rem 2rem ;
  }

  .detail_product_category{
    //text-align: center;
    margin: 0 1rem 1rem 2rem;
  }

  .footer_titre_rubrique{
    margin: 0;
    font-size: medium;
    line-height: 0;
  }

  .footer_rubrique{
    margin: 2rem;
    font-size: medium;
    line-height: 0;
  }
}

.hero{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.position_global{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.circle.multi-line{
  line-height:15px;
  height:10rem;
  padding-top:4rem;
  /* 70 + 30 = 100 */
}

.circle{
  border-radius:50%;
  width:10rem;
  //height:160px;
  border:1px solid #000000;
  text-align: center;
}

.space-admin-bull{
  padding-top: 1rem;
}

.admin-home{
  margin:5rem;
}

.admin-bull-group{
  margin : 4rem;
}

.interligne{
  margin : $margin-interligne;
}

input {
  font-family: "Oswald", sans-serif;
}
.uploader {
  cursor: pointer !important;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.chooseFile {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  padding-left: 200px;
  margin-right: -200px;
}

#thumbnail {
  width: 25%;
  margin-top: 10px;
  cursor: pointer;
  height: auto;
}

.separation-base{
  margin: $margin-base;
}

.bold{
  font-weight: bold;
}