<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
            <link rel="stylesheet" href="{{ asset('assets/src/css/style.css') }}">
        {% endblock %}
    </head>
    <body>

    
    {% block header %}
        <nav class="uk-subnav uk-subnav-pill" uk-navbar>
            <div class="uk-navbar-center">
                
                <div class="uk-navbar-center-left">
                </div>
                
                <a class="uk-navbar-item uk-logo" href="{{ path('home') }}">1-dependance 2-day</a>
            </div>

            <div class="uk-navbar-right">
                {% if is_granted('ROLE_MEMBER') %}
                <div class="uk-navbar-center-left"><div>
                        <ul class="uk-navbar-nav">
                            <li>
                                <a href="#">{% trans %}_Bonjour{% endtrans %}, {{ app.user.completeName }}  <span uk-icon="icon:  triangle-down"></span></a>
                                <div uk-dropdown="mode: click;">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active">
                                            <a href="{{ path("dashboard") }}">Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="#">Mes Notifications</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('listeprocessus') }}">Mes Articles / processus</a>
                                        </li>
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <li>
                                            <a href="{{path("admin")}}">Administration</a>
                                        </li>
                                        {% endif %}
                                        <li>
                                            <a href="{{ path("mon-profil") }}">Mon profil</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('logout') }}">Se déconnecter</a>
                                        </li>            
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                {% else %}
                    <div class="field is-grouped uk-navbar-right">
                        <div class="control">
                            <a class="button is-primary" href="{{ path('login') }}">
                                <span class="icon">
                                    <i class="fas fa-door-open"></i>
                                </span>
                                <span>{% trans %}_signIn{% endtrans %}</span>
                            </a>
                        </div>
                        <div class="control">
                            <a class="button is-primary" href="{{ path('register') }}">
                                <span class="icon">
                                    <i class="fa fa-registered"></i>
                                </span>
                                <span>{% trans %}_register{% endtrans %}</span>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="navbar-item">
                {% for locale in locales %}
                    {% if locale != app.request.locale %}
                        <a href="{{ path('change_locale', {'locale': locale}) }}">{{ locale }}</a>
                    {% endif %}
                {% endfor %}
                {{ app.request.locale }}
            </div>
        </nav>
    {% endblock %}

    {% block flash %}
        <div class="position_global">
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="notification is-success is-light" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('info') %}
                <div class="notification is-info is-light" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('warning') %}
                <div class="notification is-warning is-light" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('danger') %}
                <div class="notification is-danger is-light" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
        </div>
    {% endblock %}

    {% block body %}
        {% block hero %}
            <div class="hero is-primary">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            essaie machin chose ,bdf,mlfvnklflnkbfknl
                        </h1>
                        <h2 class="subtitle">
                            {% trans %}_sentence{% endtrans %}
                        </h2>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block espace %}
        {% endblock %}
        
    {% endblock %}

    {% block footer %}
    {% include 'footer.html.twig' %}
    {% endblock %}
    {% block javascripts %}
        <!-- UIkit js -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
    {% endblock %}
    
</html>
