<footer class="footer footer-global">
    <div class="position_global">
        <div class="columns">
            <div class="hero is-primary">
                <div class="hero-body">
                    <div class="container">
                        <div class="uk-child-width-expand@s" uk-grid>
                            <div>
                                <h4 class="footer-titre-ecriture">Qui suis-je, vaste question qui n'a aucune réélle réponse. Un être humain maybe ?</h4>
                                <ul class="uk-list uk-list-large uk-list-divider">
                                    <li>Envoie moi un mail</li>
                                    <li>En cours d'analyse</li>
                                    <li>En courqs d'analyse</li>
                                </ul>
                            </div>
                            <div>
                                <h4 class="footer-titre-ecriture">Réseau social</h4>
                                <ul class="uk-list uk-list-large uk-list-divider">
                                    <li>UNE</li>
                                    <li>DEUx</li>
                                    <li>TROis</li>
                                </ul>
                            </div>
                            <div>
                                <h4 class="footer-titre-ecriture">TEST DES CHOSES, car c'est mon métier de trouver des solutions donc...</h4>
                                <ul class="uk-list uk-list-large uk-list-divider">
                                    <li>je</li>
                                    <li>sais</li>
                                    <li>pas</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>