{% extends "Security/Admin/admin_homepage.html.twig" %}

{% block admin_body %}

    <div class="column is-four-fifths">
        {% if libraries is not null and libraries is defined %}
            <section>
                <div>
                    <h1>{{ title }}</h1>
                </div>
                <div>
                    <div class="columns is-multiline is-three-quarters-fifths">
                        {% for lib in libraries %}
                            <div class="column is-one-quarter">
                                {% if lib.images is empty %}
                                    <div>
                                        <img src="{{ asset("assets/images/folder_empty.png") }}">
                                    </div>
                                    <p>{{ lib.label }}</p>
                                    <p>Aucun document</p>
                                {% else %}
                                    <div>
                                        <img src="{{ asset("assets/images/folder_open.png") }}">
                                    </div>
                                    {{ lib.label }}

                                    <div>

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{ lib.id }}">
                                            Launch demo modal
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal{{ lib.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{ lib.id }}" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="columns is-multiline is-three-quarters-fifths">
                                                            {% for image in lib.images %}
                                                                <div class="column is-offset-1 is-one-third">
                                                                <img src="{{ image.path }}">
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% else %}
            <section>
                <div>
                    Il y a pas de library, pas de produit du coups ?
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}