{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h1>{{ title }}</h1>
</div>
<div>
    <div>
    {{ rdv.label }}
    </div>
    <div>
    {{ rdv.heureDebut|date("d/m/Y -- H:i") }}
    </div>
    <div>    
    {{ rdv.heureFin|date("d/m/Y -- H:i") }}
    </div>
    <div>    
    {{ rdv.destinataire.label }}
    </div>
    <div>
    {% if rdv.lieu is not null %}
    {{ rdv.lieu }}
    {% else %}
    {{ rdv.destinataire.lieu }}
    {% endif %}
    </div>
</div>
{% endblock %}