{% extends 'base.html.twig' %}

{% block body %}
<div class="dashboard">
    <div>
        <h1>
            {{ title }}
        </h1>
        <div>
            <div class="uk-inline">
            <button class="uk-button uk-button-default" type="button">Trier vos RDVs</button>
                <div uk-dropdown="mode: click">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active">
                            <a href="#">Triage 1</a>
                        </li>
                        <li>
                            <a href="#">Triage 2</a>
                        </li>
                        <li>
                            <a href="#">Triage 3</a>
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div>
        <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Ajouter un rdv</button>
    </div>

    <div>
    <div class="">
        <table class="uk-table">
            <thead>
                <tr>
                    <th>Label</th>
                    <th>heure début</th>
                    <th>Heure fin</th>
                    <th>Destinataire</th>
                    <th>Lieu</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for rdv in rdvs %}
            <tr>
                <td><a href="{{ path('detail_rdv', { rdv : rdv.rdv_id }) }}">{{ rdv.rdv_label }}</a></td>
                <td>{{ rdv.rdv_heureDebut|date("d/m/Y -- H:i") }}</td>
                <td>{{ rdv.rdv_heureFin|date("d/m/Y -- H:i") }}</td>
                <td><a href="{{ path('rdvs_destinataire', { destinataire: rdv.destinataire_label }) }}">{{ rdv.destinataire_label }}</a></td>
                {% if rdv.destinataire_lieu is null or rdv.destinataire_lieu is empty %}
                <td>{{ rdv.rdv_lieu }}</td>
                {% else %}
                <td>{{ rdv.destinataire_lieu }}</td>
                {% endif %}
                <th><button class="uk-button uk-button-danger">Danger</button></th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>
{% endblock %}