{% extends "Security/Admin/admin_homepage.html.twig" %}

{% block admin_body %}
    <div class="">
        {% if objects is not null and objects is defined %}
            <table class="table is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>
                        <abbr title="Identifier">
                            Identifier
                        </abbr>
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        <abbr title="Description">
                            Créé le
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Date">
                            nombre de commande
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Actions">
                            Actions
                        </abbr>
                    </th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th><abbr title="number">Identifiant</abbr></th>
                    <th>Name</th>
                    <th><abbr title="Price">Créé le</abbr></th>
                    <th><abbr title="Date">Nombre de commande</abbr></th>
                    <th><abbr title="Actions">Actions</abbr></th>
                </tr>
                </tfoot>
                <tbody>
                {% for object in objects %}
                    <tr>
                        <th>{{ object.id }}</th>
                        <td>
                            {{ object.getCompleteName }}
                        </td>
                        <td>
                            {{ object.created|date("m/d/Y") }}
                        </td>
                        <td>
                             {{ object.nbCommand }}
                        </td>
                        <td>
                            <a href=""
                               class="button is-info is-outlined">
                                Edition
                            </a>
                            <a href=""
                               class="button is-link is-outlined">
                                Archivage
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                <a href="{{ path("add_category") }}" class="button is-primary is-outlined">
                    Ajouter Category
                </a>
            </div>
            <table class="table is-centered">
                <thead>
                <tr>
                    <th>
                        <abbr title="Identifier">
                            ID
                        </abbr>
                    </th>
                    <th>
                        Label
                    </th>
                    <th>
                        <abbr title="Description">
                            Description
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Description">
                            Date de création
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Description">
                            Actions
                        </abbr>
                    </th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th><abbr title="identifier">Identifier</abbr></th>
                    <th>Nom</th>
                    <th><abbr title="Price">Créé le</abbr></th>
                    <th><abbr title="Price">Nombre commande</abbr></th>
                    <th><abbr title="Price">Actions</abbr></th>
                </tr>
                </tfoot>
                <tbody>
                {% for object in objects %}

                        <tr>
                            <th>{{ object.id }}</th>
                            <td>
                                {{ object.completeName }}
                            </td>
                            <td>
                                {{ object.created|date("m/d/Y") }}
                            </td>
                            <td>
                                {{ object.nbCommand }}
                            </td>
                            <td>
                                <a href=""
                                   class="button is-info is-outlined">
                                    a venir
                                </a>
                            </td>
                        </tr>

                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="separation-base">
                <span class="tag is-light is-warning font-size">
                    existe aucun user
                </span>
            </div>
        {% endif %}

        <div>
            <a href="" class="button is-primary is-outlined">
                Ajouter User
            </a>
        </div>
    </div>
{% endblock %}