{% extends 'Security/Admin/base.html.twig' %}

{% block admin_body %}
    <div class="column admin-home">
        <div>
            <div class="has-text-centered">
                <h1>ADMINISTRATION</h1>
            </div>
        </div>

        <div>
            {% if stat %}
                <div class="columns  admin-bull-group">
                    <div class="column">
                        <div class="circle multi-line" style="line-height: normal">
                            <p>Gestion Users</p>
                            <p class="space-admin-bull">{{ stat.users }}</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="circle multi-line" style="line-height: normal">
                            <p>Product</p>
                            <p class="space-admin-bull">X</p>
                            {% for statProduit in stat.tabProduct %}
                            <div>
                                <span>
                                    {{ statProduit.Name_categ }} ---- {{ statProduit.count_prod }}
                                </span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="column">
                        <div class="circle multi-line" style="line-height: normal">
                            <p>BLA BLA BLA</p>
                            <p class="space-admin-bull">OK</p>
                        </div>
                    </div>
                    <div class="circle multi-line" style="line-height: normal">
                        <p>BLA BLA BLA</p>
                        <p class="space-admin-bull">OK</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}