{% if is_granted("ROLE_ADMIN") %}
    <aside class="menu-admin menu">
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li>
                <a href="{{ path("admin") }}">
                    Dashboard
                </a>
            </li>
            <!--
            <li>
                <a>
                    Customers
                </a>
            </li>
            -->
        </ul>
        <p class="menu-label">
            Administration
        </p>
        <ul class="menu-list">
            <li>
                <div class="is-active">
                    Admin e-commerce
                </div>
                <ul>
                    <li>
                        <a href="{{ path("manage_category") }}">
                            Les categories
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("manage_product") }}">
                            Les produits
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("manage_status") }}">
                            Les status
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("visu_libraries") }}">
                            Visualisation Library
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("admin") }}">
                            Messages
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("admin") }}">
                            Commentaires
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="is-active">
                    Config site
                </div>
                <ul>
                    <li>
                        <a href="{{ path("add_setting") }}">
                            Config générale
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("admin") }}">
                            Planning
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("admin") }}">
                            informations
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("admin") }}">
                            categories d'informations
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="is-active">
                    Gestion
                </div>
                <ul>
                    <li>
                        <a href="{{ path("manage_user") }}">
                            Gestion User
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("add_setting") }}">
                            Stock (à venir)
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!--
        <p class="menu-label">
            Transactions
        </p>
        <ul class="menu-list">
            <li>
                <a>
                    Payments
                </a>
            </li>
            <li>
                <a>
                    Transfers
                </a>
            </li>
            <li>
                <a>
                    Balance
                </a>
            </li>
        </ul>
        -->
    </aside>
{% endif %}