{% extends 'base.html.twig' %}

{% block body %}
    {% block hero %}
        <div class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        StockEnVrack
                    </h1>
                    <h2 class="subtitle">
                        phrase accrocheuse admin
                    </h2>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block espace %}
        <div class="columns">
            {% block admin_layout %}
                <div class="column is-one-fifth">
                    {% include 'Security/Admin/admin_layout.html.twig' %}
                </div>
            {% endblock %}

            {% block admin_body %}
                <div class="column">

                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock body %}