{% extends "Security/Admin/admin_homepage.html.twig" %}

{% block admin_body %}
    <div class="">
        {% if objects is not null and objects is defined %}
            <table class="table is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>
                        <abbr title="Identifier">
                            ID
                        </abbr>
                    </th>
                    <th>
                        Label
                    </th>
                    <th>
                        <abbr title="Price">
                            Price
                        </abbr>
                    </th>
                    <th>
                        <abbr title="category">
                            Category
                        </abbr>
                    </th>
                    <th>
                        <abbr title="date">
                            Date de création
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Action">
                            Actions
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Images">
                            Images
                        </abbr>
                    </th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th><abbr title="identifier">ID</abbr></th>
                    <th>Label</th>
                    <th><abbr title="Price">Price</abbr></th>
                    <th><abbr title="category">Category</abbr></th>
                    <th><abbr title="Date">Date de création</abbr></th>
                    <th><abbr title="Action">Actions</abbr></th>
                    <th><abbr title="Images">Images</abbr></th>
                </tr>
                </tfoot>
                <tbody>
                {% for object in objects %}
                    {% if object.archieved == 0  %}
                        <tr>
                            <th>{{ object.id }}</th>
                            <td>
                                {{ object.name }}
                            </td>
                            <td>
                                {{ object.price }}
                            </td>
                            <td>
                                {{ object.category.name }}
                            </td>
                            <td>
                                {{ object.created|date("m/d/Y") }}
                            </td>
                            <td>
                                <a href="{{ path("edit_product", {'product': object.id}) }}" class="button is-info is-outlined">
                                    Edition
                                </a>
                                <a href="{{ path('archieveOrDelete_product', {'product': object.id}) }}" class="button is-link is-outlined">
                                    Archivage
                                </a>
                            </td>
                            <td>
                                <a href="{{ path("add_doc_product", {"product": object.id}) }}" class="button is-info is-outlined">
                                    Ajouter image
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div>
                <a href="{{ path('add_product') }}" class="button is-primary is-outlined">
                    Ajouter Produit
                </a>
            </div>
            <table class="table is-centered">
                <thead>
                <tr>
                    <th>
                        <abbr title="Identifier">
                            ID
                        </abbr>
                    </th>
                    <th>
                        Label
                    </th>
                    <th>
                        <abbr title="Price">
                            Price
                        </abbr>
                    </th>
                    <th>
                        <abbr title="category">
                            Category
                        </abbr>
                    </th>
                    <th>
                        <abbr title="date">
                            Created
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Date">
                            Date de création
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Action">
                            Actions
                        </abbr>
                    </th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th><abbr title="identifier">ID</abbr></th>
                    <th>Label</th>
                    <th><abbr title="Price">Price</abbr></th>
                    <th><abbr title="category">Category</abbr></th>
                    <th><abbr title="Date">Date de création</abbr></th>
                    <th><abbr title="Action">Actions</abbr></th>
                </tr>
                </tfoot>
                <tbody>
                {% for object in objects %}
                    {% if object.archieved == 1 %}
                        <tr>
                            <th>{{ object.id }}</th>
                            <td>
                                {{ object.name }}
                            </td>
                            <td>
                                {{ object.price }}
                            </td>
                            <td>
                                {{ object.category.name }}
                            </td>
                            <td>
                                {{ object.created|date("m/d/Y") }}
                            </td>
                            <td>
                                <a href="{{ path('unarchieved_product', {'product': object.id}) }}" class="button is-info is-outlined">
                                    désarchiver
                                </a>
                                <a href="{{ path('archieveOrDelete_product', {'product': object.id}) }}" class="button is-link is-outlined">
                                    Suppression
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="separation-base">
                <span class="tag is-light is-warning font-size">
                    existe aucun produit
                </span>
            </div>
        {% endif %}

        <div>
            <a href="" class="button is-primary is-outlined">
                Ajouter produit
            </a>
        </div>
    </div>
{% endblock %}